html{
    scroll-behavior: smooth;
}
marquee{
    background-color:#ed484c; 
    color: white;
    padding: 5px 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    margin: 0%;
}
header{
    display: flex;
    justify-content:space-between;
    background-color: #4c4c4c;
}
header > img{
    padding-block-start: 7px;
    padding-block-end: 7px;
    width: auto;
    height: 40px;
    padding-inline-start: 20px;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
}
nav li{
    padding: 0px 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
nav li a{
    text-decoration: none;
    color: #c6c6c6;
}
nav li a:hover{
    color: white;
}
main{
    display: flex;
    flex-direction: column;
}

.join-us{
    background-color: #f18c97;
    background-image: url(https://i.ibb.co/6J77JkQ/floral.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    padding-bottom: 45px;
}
h1{
    font-size: -webkit-xxx-large;
    font-family: 'Anton', sans-serif;
    margin-bottom: 20px;    
}
.same-parg{
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 0px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}

.join-us button{
    border: none;
    font-family: 'Bree Serif', serif;
    background-color: black;
    padding: 15px 60px;
    font-size: larger;
    color: #f18c97;
}
.join-us button:hover{
    cursor: pointer;
    background-color: #e7e3de;
    transition: 0.5s;
}